* {
    margin: 0;
    padding: 0;
}
.webpage {
    width: 1004px;
    margin: 0 auto;
    display: block;
    position: relative;
}
.container {
    width: 699px;
    display: inline-block;
  }
  .main {
    width: 347px;
    display: inline-block;  
    margin-bottom: 10px;   
  }
  h3 {
    font-size: 16px;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .main .content {
    display: inline-block;
    margin: 10px 0;
  }
  .main img {
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 20px;
  }

  .adver img {
      width: 100%;
      height: 200px; 
  }
  .content {
    width: 100%;  
  }
  .text {
    font-size: 16px;
    display: block;
    overflow: hidden;
  /*   overflow: hidden; tương tự như trường hợp của display ở .content, ở đây ta set overflow thì dc như bên, nếu ko đặt thì như bt*/
  }
  span {
    font-size: 14px;
    color: #777;
  }
  .info {
  /*  ban đầu ở .container dùng float, nên khi cho bg vào .info thì phần info của cả 2 thẻ div bị dính vào nhau cùng là 1 màu xanh, ko chia ra dc, nhưng khi sử dụng display thì dc giao diện như hình bên, có vẻ như sử dụng display chia layout vẫn tốt vì chúng giúp tạo ra những khoảng padding hay margin sẵn, thử đặt qua float là thấy dc vấn đề */
    background: #EAF8D2;
  }
  .info p {
    margin-bottom: 10px;
  }
  .info .fixInfo {
    background: #D5ECAB;
  }
 .article {
   display: inline-block; 
   margin-bottom: 10px;   
 }
 .article img {
   width: 347px;
   height: 200px;
      float: left;
      margin-right: 20px;
      margin-top: 10px;
  }
  /*  */
/* css video */
.container .video  {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
.video1 {
  color: #78b43d;
  font-weight: bold;
}
.container .video1 {
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #78b43d;
  background: #fff url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQwCIz3UHmWPu-gmtJJVFfZbUsWRb1OFc45MA&usqp=CAU") no-repeat left top;
  background-size: 40px;
  padding-left: 50px;
  font-size: 18px;
  color: #444;
}
 .video h3:hover {
  color: #78b43d;
}
 .video .mainVideo {
  margin-top: 10px;
  width: 399px;
  float: left;
  border-right: 1px solid #999;
  padding-right: 10px;
}
 .video .subVideo {
  width: 280px;
  height: 380px;
  float: right;
  overflow-y: scroll;
  border: transparent; 
}
 .video .subVideo li:hover a {
color: #78b43d;
}
 .video .subVideo ul {
  margin: 10px 0;
  width: 100%;  
}
 .video .subVideo ul li {
  display: inline-block;  
}
 .video .subVideo ul li a {
  text-decoration: none;
  color: #444;
  margin-bottom: 10px;
}
 .video .subVideo .listVideo {
  float: left;
  margin-right: 7px;  
}
 .mainFull {
  width: 100%;
} 
 .mainFull h3 {
  margin-bottom: 10px;
}
/* i found it hard and too much far from clean code if i just fix things like this, i have to figure out that sort of 
class that has the same attr en after that i put it all in the same class hat allow me to set it in evey class, no 
matter somewhere else in the webpage, so that i dont have to waste time en make unworthy mistake...*/
.mainFull .content1 img {
  width: 120px;
  height: 90px; 
}
 .mainFull .content1 {
  display: inline-block;
  margin-bottom: 20px;
}
 .mainFull .content1 .image {
  width: 120px;
  height: 150px;
  float: left;
  margin-right: 20px;
}
 .info1 ul li {
  list-style: square;
  color: green;
  margin-top: 10px;
}
.mainTitle p {
  color: #fff;
  margin-bottom: 10px;
  background: #78b43d;
  border-radius: 4px;
  text-align: center;
  float: left;
  margin-right: 4px;
}
.mainTitle span {
  background: #e1e1e1;
  padding: 2px;
  color: #333;
  border-radius: 3px;
  font-size: 12px;
}
.mainTitle a {
  text-decoration: none;
}
.main .mainTitle {
  margin: 10px 0;
}
.first:hover p {
  color: #000;
  font-weight: 600;
}
.mainTitle a:hover span{
  color: #78b43d;
}
.mainFull ul li a {
  text-decoration: none;
  color: #333; 
}
.mainFull h3 {
  font-style: 16px;
}
.mainFull .info1 h3 {
  margin-bottom: 6px;
} 
/* css aside */
.aside {
    width: 300px;
    float: right;  
}
.aside img{
    /* margin-top : 20px; */
    width: 100%;
    height: 550px;
}
.aside li:hover a {
  color: #78b43d;
}
.aside h3 {
  margin-top: 20px;
  color: green;  
  border-bottom: 1px solid green;
}
.aside ul li {
    /* list-style: none; */
    display: inline-block;
    margin-top: 20px;
}
.aside ul li img  {
    width: 120px;
    height: 100px;     
    float: left;
    margin-right: 10px;
}
.aside ul li a {
    text-decoration: none;
    color: #000;
}
.adver2 img {
    margin-top: 20px;
    width: 100%;
    height: 200px;

}

.aside ul.women h3 {
  background: url('https://pngimg.com/uploads/rose/rose_PNG67012.png') no-repeat left ;
  background-size: 20px;
  color: pink;
  border-bottom: 1px solid pink;
  padding-left: 20px;
}
.women li {
  list-style: square;
  color: pink;
}
.aside .advertisement {
  margin-top: 20px;
}
.aside .advertisement h4 {
  background: green;
  color: #fff;
  height: 13px;
  text-align: right;
  line-height: 13px;
  font-weight: 400;
  font-size: 13px;
  padding-right: 10px;
  margin-bottom: 0px;
  /* in this case, i set it margin-bottom is 20px in the first place at aside img , so i have to change it to -10 just to sub 10px...  */
  
}

/* end aside */
/* webfoot */
.webFoot {
  width: 100%;
  background: pink;
  margin: 0 auto;
}
.webFoot h3 {
  color: orange;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid orange;
  background: #fff url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRwOsUpapiwBOc-hb2WUrQQhaVsA7bisN8_jA&usqp=CAU") no-repeat left top;
  background-size: 40px;
  padding-left: 40px;
}
.webFoot .infoList {
  width: 220px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.webFoot .infoList img {
  float: left;
  margin-right: 10px;
}
.webFoot a {
  text-decoration: none;
  color: #000;
}
.webFoot a:hover {
  color: #78b43d;
}
/* end webFoot */

/* star symbol */
.symbol {
  width: 100%;
  margin: 10px 0;
  text-align: right; 
}
.symbol .icon1 {
  display: inline-block;
  width:  35px;
  height: 35px;
  background: #78b43d url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxoDPyed18gOELh6xGkVV1F4rp5Q0L0L2iUg&usqp=CAU") no-repeat right;
  background-position: center;
  background-size: 25px;
  border-radius: 50%; 
}
.symbol .icon2 {
  display: inline-block;
  width:  35px;
  height: 35px;
  background: #78b43d url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR1E7PO3rDJ_LxlJrBE12rYu0R46pAibX0UpA&usqp=CAU") no-repeat right;
  background-position: center;
  background-size: 25px;
  border-radius: 50%;
}
/* footer */
.footer {
  width: 100%;
  display: inline-block;
  background: #ebebeb;
}
.footer a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}
.footerFull {
  background-color: #ebebeb;
  /* text-align: center; */
}
.footerFull ul {
    display: inline-block;
    margin: 20px 30px 20px 0px;
}
.footerFull ul li {
  display: block; 
  margin-bottom: 3px;
}
.footerFull ul li:hover a {
  color: #78b43d;
}
.footerFull ul li:first-child a{
  color: #000;
  font-weight: 600;
} 
.footerFull ul li:first-child:hover a {
  color: #78b43d;
}
.footerBar {
  background-color:#78b43d;
}
.footerBar ul {
  text-align: center;
}
.footerBar ul li{
  display: inline-block;
  margin-left: 10px;
  color: #fff;
  padding: 4px 0;
}
.footerBar ul li a {
  padding-right: 10px;
  color: #fff;
}
.footerBar li:hover a {
  color: #000;
}
.footerIntro {
  margin-top: 20px;
}
.footerIntro p {
  text-align: center;
}
/* header */
.header {
  width: 100%;
  background: #78b43d;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  z-index: 100;
}
.logo {
  float: left;
  margin-top: 3px;
}
a h3:hover {
  color: #78b43d;
}
 .collections-h {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    display: inline-block;
    padding: 0 10px;
    margin: 0 10px;
    
}
.collections-h li {
  padding: 5px 0;
  position: relative;
}
.collections-h li a {
  font-size: 10px;
  text-decoration: none;
  color: #fff;
}
.collections-h li img {
  margin: 0 auto;
  display: block;
  margin-bottom: 3px;
}
.collections-m {
  display: inline-block;
}
.collections-m li {
  padding: 5px 3px;
  display: inline-block;
  position: relative;   
  /* để tạo menu đa cấp, thiết lập các thẻ nemu cấp 2, 3,  cần đặt các thẻ posiion theo các li tương ứng... */
}

                             /* tạo hiệu ứng hover cho thẻ ul/li ở menubar */
.collections-m li:hover {
  background-color: blue;
}
.collections-m a:hover {
  text-decoration: underline;
}
                             /* tạo hiệu ứng hover cho thẻ ul/li ở menubar */
.collections-m li a {
font-size: 10px;
text-decoration: none;
color: #fff;
}
.collections-m li img {
margin: 0 auto;
display: block;
margin-bottom: 3px;

} 
/* drop menu cấp 1 */
.collections-h .dropCollect {
  display: none; 
  position: absolute;
  top: 44px;
  right: -10px;
}
.collections-m img {
  width: 20px;
  height: 20px;
}
.collections-m .dropCollect {
  display: none; 
  position: absolute;
  top: 44px;
  left: 0px;
}
.collections-m .dropCollect li:hover a {
  color: #fff;
  text-decoration: none;
  background: #78b43d;
}
.dropCollect li {
  padding: 0;
}
.collections-h .dropCollect li a,
.collections-m .dropCollect li a
 {
  width: 160px;
  font-size: 15px;
  text-align: left;
  padding: 5px 0px 5px 20px;
  display:inline-block;
  background-color: #aad862;
  border-bottom: 1px solid #888;
}
                                  /* menu cap 2 */
.collections-h .dropCollect .dropCollect-h {
  display: none;
}
.collections-h .dropCollect li {
  position: relative;
}
.collections-h .dropCollect-h  li a {
  background: #78b43d;
}
.dropCollect-h {
  position: absolute;
  top: 0;
  left: 180px;
}
.collections-h .dropCollect li:hover .dropCollect-h   {
  display: block;
}
.dropCollect li a {
  color: #000;
  text-transform: none;
}
.collections-h .dropCollect a:hover {
  background: #78b43d;
  color: #fff;
}
.collections-h li:hover ul,
.collections-m li:hover ul
 {
  display: block;
}
.dropCollect .active {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQaSWT4heRy-wXc99CFYXaT2BjL0FF4Uowd_A&usqp=CAU") no-repeat right;
  background-size: 30px;
  background-color: green;
}
/* search Bar */
.searchBar {
  height: 44px;
  position: absolute;
  top: 0;
  right: 0; 
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  margin: 0 5px;
}
.searchBar img {  
  width: 25px;
  height: 25px;
  float: right; 
  padding:  0 10px;
  margin-top: 10px;
}
input {
  position: absolute;
  right: 44px;
  /* ở đây, nếu ko đặt 2 th tính trên thì thẻ input nằm hoàn toàn vào thẻ cha searchBar, nên mỗi lần 
  hover sẽ làm border left nhảy theo... */
  display: none;
  width: 770px;
  margin-top: 3px ;
  margin-right: 7px;
  float: right;
  height: 38px;
  border: none;  
  border-radius: 2px;
}
.searchBar input {
  padding-left: 10px;
}
.searchBar:hover input  {
 display: block;
}